@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&family=Overlock:wght@700&family=Rasa&display=swap");

/*  Mutual reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fefae0;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar img {
  width: 75px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 20%;
}

.navbar ul li a {
  text-decoration: none;
  font-family: "Overlock", cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #283618;
  transition: all 0.2s ease;
}

.navbar ul li a:hover {
  border-top: 2px #283618 solid;
  border-bottom: 2px #283618 solid;
}

.navbar ul li a:active {
  border: none;
}

h1 {
  text-align: center;
  color: #fefae0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='560' preserveAspectRatio='none' viewBox='0 0 1920 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1072%26quot%3b)' fill='none'%3e%3crect width='1920' height='560' x='0' y='0' fill='rgba(40%2c 54%2c 24%2c 1)'%3e%3c/rect%3e%3cpath d='M1292.219%2c385.129C1335.13%2c383.955%2c1378.324%2c369.687%2c1400.421%2c332.884C1423.109%2c295.097%2c1420.956%2c246.953%2c1397.641%2c209.549C1375.57%2c174.14%2c1333.942%2c159.032%2c1292.219%2c159.295C1251.021%2c159.555%2c1211.808%2c176.505%2c1189.075%2c210.864C1163.604%2c249.361%2c1149.746%2c299.374%2c1173.257%2c339.097C1196.469%2c378.314%2c1246.664%2c386.375%2c1292.219%2c385.129' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M387.144%2c321.546C426.492%2c321.254%2c455.655%2c290.237%2c476.118%2c256.627C497.702%2c221.176%2c515.847%2c178.849%2c496.323%2c142.223C475.963%2c104.028%2c430.422%2c90.352%2c387.144%2c89.711C342.486%2c89.05%2c293.517%2c99.647%2c272.217%2c138.904C251.536%2c177.021%2c272.759%2c221.259%2c295.855%2c257.963C317.023%2c291.603%2c347.399%2c321.841%2c387.144%2c321.546' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1778.946%2c217.104C1804.572%2c217.554%2c1827.368%2c201.321%2c1839.607%2c178.802C1851.31%2c157.269%2c1849.938%2c131.077%2c1837.019%2c110.251C1824.774%2c90.512%2c1802.17%2c80.571%2c1778.946%2c81.015C1756.527%2c81.443%2c1736.079%2c93.141%2c1724.595%2c112.4C1712.813%2c132.159%2c1711.269%2c156.316%2c1721.868%2c176.734C1733.375%2c198.902%2c1753.973%2c216.665%2c1778.946%2c217.104' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M338.936%2c660.281C376.22%2c658.824%2c411.679%2c643.772%2c431.689%2c612.279C453.292%2c578.278%2c461.735%2c534.336%2c440.841%2c499.894C420.521%2c466.398%2c378.112%2c459.024%2c338.936%2c459.382C300.558%2c459.732%2c261.371%2c469.71%2c240.205%2c501.726C216.844%2c537.062%2c210.324%2c584.097%2c232.715%2c620.055C254.165%2c654.502%2c298.388%2c661.866%2c338.936%2c660.281' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1769.808%2c729.351C1819.61%2c730.446%2c1874%2c725.022%2c1901.474%2c683.469C1931.284%2c638.383%2c1930.132%2c577.173%2c1900.169%2c532.188C1872.764%2c491.044%2c1819.167%2c483.058%2c1769.808%2c485.794C1725.958%2c488.225%2c1685.832%2c508.303%2c1662.287%2c545.375C1636.753%2c585.578%2c1623.771%2c636.773%2c1647.802%2c677.892C1671.672%2c718.735%2c1722.512%2c728.311%2c1769.808%2c729.351' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M613.757%2c508.789C633.168%2c509.613%2c653.011%2c501.774%2c662.595%2c484.874C672.075%2c468.158%2c667.028%2c448.109%2c657.695%2c431.31C648.019%2c413.893%2c633.645%2c398.155%2c613.757%2c396.965C591.953%2c395.66%2c569.446%2c405.915%2c559.655%2c425.441C550.552%2c443.593%2c560.555%2c463.977%2c571.611%2c481.01C581.43%2c496.137%2c595.739%2c508.024%2c613.757%2c508.789' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M712.467%2c334.692C742.469%2c332.511%2c770.499%2c320.133%2c786.558%2c294.697C803.842%2c267.321%2c809.015%2c233.483%2c794.701%2c204.443C778.616%2c171.811%2c748.817%2c142.885%2c712.467%2c144.382C677.696%2c145.814%2c658.795%2c180.75%2c641.183%2c210.764C623.239%2c241.343%2c599.351%2c276.288%2c617.029%2c307.021C634.73%2c337.794%2c677.059%2c337.266%2c712.467%2c334.692' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1369.681%2c558.92C1405.639%2c561.595%2c1441.014%2c542.582%2c1458.543%2c511.072C1475.652%2c480.316%2c1470.68%2c441.991%2c1450.935%2c412.856C1433.364%2c386.93%2c1400.996%2c379.427%2c1369.681%2c379.953C1339.495%2c380.46%2c1308.057%2c389.329%2c1293.022%2c415.509C1278.034%2c441.607%2c1286.92%2c472.816%2c1301.108%2c499.358C1316.405%2c527.976%2c1337.32%2c556.512%2c1369.681%2c558.92' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M503.296%2c374.201C531.749%2c373.079%2c550.803%2c348.672%2c565.365%2c324.202C580.399%2c298.939%2c594.18%2c269.773%2c581.114%2c243.438C566.893%2c214.774%2c535.263%2c197.701%2c503.296%2c199.099C473.355%2c200.409%2c450.802%2c223.462%2c436.44%2c249.767C422.776%2c274.793%2c418.627%2c304.342%2c432.122%2c329.459C446.337%2c355.917%2c473.284%2c375.385%2c503.296%2c374.201' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M47.549%2c205.433C70.427%2c205.703%2c93.777%2c200.015%2c106.843%2c181.233C121.933%2c159.541%2c127.896%2c131.104%2c115.484%2c107.777C102.422%2c83.229%2c75.299%2c68.017%2c47.549%2c69.796C22.202%2c71.421%2c4.857%2c93.054%2c-6.81%2c115.615C-17.362%2c136.019%2c-21.263%2c160.209%2c-9.369%2c179.861C2.174%2c198.933%2c25.258%2c205.17%2c47.549%2c205.433' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M467.973%2c661.537C506.147%2c663.57%2c536.233%2c631.864%2c554.129%2c598.084C570.791%2c566.633%2c571.535%2c529.64%2c554.369%2c498.461C536.547%2c466.09%2c504.905%2c440.333%2c467.973%2c441.593C432.646%2c442.799%2c406.608%2c472.206%2c391.22%2c504.029C377.874%2c531.629%2c382.936%2c562.125%2c396.365%2c589.684C412.241%2c622.264%2c431.782%2c659.61%2c467.973%2c661.537' fill='rgba(96%2c 108%2c 56%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1072'%3e%3crect width='1920' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  padding: 200px 100px 200px 100px;
  font-family: "Fira Sans Condensed", sans-serif;
}

.midText {
  text-align: center;
  font-family: "Rasa", serif;
  margin: 40px 30% 40px 30%;
  line-height: 2rem;
  font-size: 1.2rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px;
}
.card {
  background-color: #bc6c25;
  aspect-ratio: 3/4;
  width: 300px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0 10px 0 #bc6b256a;
}

.underskrift {
}
